body {
	margin:0px;
	font-family: "Raleway", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: normal;
  	font-style: normal;
	font-variant-numeric: oldstyle-nums stacked-fractions;

}
.main{
	width:100%;
	height:270%;
	
}

.header{
	width:100%;
	height:50%;

	
}

.h1{
	width:100%;
	height:13%;
	opacity:1.2;
	background-color:rgba(0,0,0,0.4);
	position:fixed;
}


.h2{
		width:100%;
	height:100%;


	float:left;
	
}
.logo{
	width:20%;
	height:100%;
	margin-top:7;
	float:left;
	font-size:200%;
	text-indent:50px;
	line-height:70px;
	margin-top: 1.5%;
}
.logo a      {
text-decoration:none;
color: white;
}
#l
{
	border:solid;
	padding:5px;
}	


.menu{
	width:50%;
	height:100%;
	margin-top: 1.3%;
	float:left;
}

.menu ul li    {
	font-size:150%;
	float:left;
	padding:8px 12px 8px 30px;
}

.menu a{
	text-decoration:none;
	color:white;
}

.menu ul  :hover{
	color:orange;
}
	
.book{
	width:30%;
	height:100%;
	margin-top: 0.5%;
	float:left;


}


.b1{
	background-color:#ffa37b;
	width:30%;
	height:50%;
	text-align:center;
	margin-right:30%;
	margin-top:3%;
	padding:5px;
	float:right;
	border-radius: 3%;
	transform: translate(0px, 0px);
  	animation: cssAnimation_0 2284ms 10 ease-in-out;
	text-align: center;
	
	
}
@keyframes cssAnimation_0 {
  to {
    box-shadow: 0px 0px 13px 14px rgba(0, 0, 0, 0.3);
  }
}
.b2{
	background-color:#ffa37b;
	width:45%;
	height:50%;
	float:left;
	text-align:center;
	margin-left:5%;
	margin-top:3%;
	padding:5px;
	color:white;
	font-family: wfont_3f090f_d2b74fa2704044fa98373433c883f8ed, wf_d2b74fa2704044fa98373433c, orig_poppins_regular;
	line-height: 16px;
	border-radius: 3%;
}


.b1 a{
	font-size:130%;
	text-decoration:none;
	color:white;
	text-align:center;
	line-height:16px;
}
/*.b1:hover{
background-color:light black;
color:#ffa37b;
opacity:0.5;
}*/
.container{
	width:100%;
	height:180%;

}
.c1{
	height:15%;
	width:100%;
	background-color:white;
	
}
.c1 h1{
    font-family: raleway,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    line-height: 1.2;
    color: #393939;
    font-weight: 600;
}
.c1 p{
   font-size:18;
   line-height:25px;
}
.f{
	height:87%;
	background-color:white;
	width:25%;
	margin-left:9.3%;
	margin-top:3%;
	float:left;
	text-align:center;
}
.i h1{
    font-family: raleway,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    line-height: 1.2;
    color: #393939;
    font-weight: 600;
	text-align:center;
}
.i p{
   font-size:18;
   line-height:25px;
   text-align:center;
}

.i{
	height:87%;
	background-color:white;
	width:25%;
	margin-left:3%;
	margin-top:2%;
	float:left;
}
.l h1{
    font-family: raleway,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    line-height: 1.2;
    color: #393939;
    font-weight: 600;
	text-align:center;
}
.l p{
   font-size:18;
   line-height:25px;
   text-align:center;
}

.l{
	height:87%;
	background-color:white;
	width:25%;
	margin-left:3%;
	margin-top:2%;
	float:left;
}
.c4
{
	width:100%;
	height:10%;
	background-color:white;
}
.c5{
		background-color:white;
	
	width:100%;
	height:13%;

	
	
}

.c51{
	width:40%;
	margin-left:10%;
	height:100%;

	float:left;
}
.c51 h2{
	margin-top:10%;
	font-size: 36px;
	font-weight:600;
	margin-left:2px;

}

.c51 p {
	color:#6D6D6D;
	font-family:  raleway,sans-serif;
	font-size:150%;

}
.c52{
	width:50%;
	height:100%;

	float:left;
}
.c2{
	width:100%;
	height:25%;
	background-color:black;
	opacity:0.8;
	
}
.c21{
width:25%;
height:60%;
margin-top:10%;
background-color:white;

margin-left:10%;
float:left;
text-align:center;
}

.c22{
width:25%;
height:60%;
margin-top:10%;
background-color:white;

margin-left:2.5%;
float:left;
text-align:center;
}
.c23{
width:25%;
height:60%;
margin-top:10%;
background-color:white;

margin-left:2.5%;
float:left;
text-align:center;
}
.c3{
	width:100%;
	height:23%;
	background-color:black;
}
.c31{
	width:100%;
	height:30%;
	background-color:white;
	text-align:center;
	font-size:260%;
	color:#8c7373;
	
}
.c31 p{
	margin-top:2%;
	line-height:150%;
	margin-left:5%;
	margin-right:5%;
	font-size:18px;
	color:grey;
}
.c32{
	width:100%;
	height:70%;
	background-color:white;
}
.c{
width:25%;
height:88.6%;
margin-top:2%;
background-color:red;
margin-left:7.8%;
float:left;
}
.c321{
width:25%;
height:88.6%;
margin-top:2%;

margin-left:5%;
float:left;
}
.c322{
width:25%;
height:88.6%;
margin-top:2%;
background-color:white;
margin-left:5%;
float:left;
}
.box
{
	width:10%;
	height:5%;
	background-color:white;
	position:absolute;
	margin-left:1%;
	margin-top:1%;
	padding:3px;
	text-align:center;
	line-height:1.5;
	font-weight:bold;
	font-size:20;

}
.box2{
	width:80%;
	height:12%;
	background-color:#ffa37b;
	margin-top:110%;
	margin-left:10%;
	font-size:130%;
	text-align:center;
	color:white;
	line-height:2;
}
b:hover
{
	color:gold;
}
.c8{
	width:100%;
	height:14%;
	background-color:black;
	float:left;
}

.footer{
	width:100%;
		height:20%;
		background-color:white;

}
.f1{
	width:100%;
		height:30%;
		background-color:white;
		text-align:center;
}
.f2{
	width:15%;
	background-color:white;
	height:70%;
	margin-left:5.5%;
	float:left;
}
.footer ul li{
	list-style:none;
	padding:5px;
	font-size:16;
	color:grey;
}
.f2 h5{
	color:light black;
}
.f3{
	width:20%;
	background-color:white;
	height:70%;
	margin-left:2.5%;
	float:left;
}

.f3 h5{
	color:light black;
}
.f4{
	width:20%;
	background-color:white;
	height:70%;
	margin-left:2.5%;
	float:left;
}

.f4 input[type=text] {
  width: 70%;
  margin-top:-9%;
  margin-left:10%;
  padding: 12px 20px;

  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}
.f42{
	width:65%;
	height:20%;
	background-color:#ffa37b;
	margin-top:30;
	margin-left:10%;
	text-align:center;
	
}
.f42 a{
	font-size:20;
	line-height:2.5;
	text-decoration:none;
	color:white;
}
.f5{
	width:25%;
	background-color:white;
	height:70%;
	margin-left:2.5%;
	float:left;
}
#12
{
border:solid;
	padding:5px;	
}
